<h2>Merci de bien vouloir confirmer votre adresse e-mail.</h2>

<p>
    Confirmez votre addresse e-mail en cliquant sur le lien suivant: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
   bye, bye! <br> 
</p>
